<LeftOverLayout>
    <TopContent>
        @ChildContent
    </TopContent>
    <MainContent>
        <div style="position: relative; display: inline-block;">
            <img src="@(ShowCroppedImage? CroppedImageData : ImageData)" @ref="_imageRef" style="max-width: 100%; display: block;" @onmousedown="HandleClick" />
            @if (StartPoint.HasValue && ShowCroppedImage == false)
            {
                <div style="
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: red;
                        border-radius: 4px;
                        left: @(StartPoint.Value.X - 4)px;
                        top: @(StartPoint.Value.Y - 4)px;">
                </div>
            }

            @if (EndPoint.HasValue && ShowCroppedImage == false)
            {
                <div style="
                        position: absolute;
                        width: 8px;
                        height: 8px;
                        background: blue;
                        border-radius: 4px;
                        left: @(EndPoint.Value.X - 4)px;
                        top: @(EndPoint.Value.Y - 4)px;">
                </div>
            }

            @if (StartPoint.HasValue && EndPoint.HasValue && ShowCroppedImage == false)
            {
                <div style="
                        position: absolute;
                        border: 2px dashed lime;
                        left: @(Math.Min(StartPoint.Value.X, EndPoint.Value.X))px;
                        top: @(Math.Min(StartPoint.Value.Y, EndPoint.Value.Y))px;
                        width: @(Math.Abs(EndPoint.Value.X - StartPoint.Value.X))px;
                        height: @(Math.Abs(EndPoint.Value.Y - StartPoint.Value.Y))px;">
                </div>
            }
        </div>
    </MainContent>
    <BottomContent>
        <StackLayout>
            <StackItem>
                <PrimaryButton OnClick="ClearSelection">
                    Clear
                </PrimaryButton>
            </StackItem>
            @if (StartPoint.HasValue && EndPoint.HasValue && ShowCroppedImage == false)
            {
                <StackItem>
                    <div style="margin-top: 10px;">
                        <label>Adjustment Mode:</label>
                        <select @bind="_currentMode">
                            <option value="Move">Move</option>
                            <option value="Resize">Resize</option>
                            <option value="AdjustEdges">Adjust Edges</option>
                        </select>
                    </div>
                </StackItem>
                <StackItem>
                    <ArrowLeftComponent BackgroundColor="aqua"
                                        TargetHeight="8vh"
                                        StrokeColor="black"
                                        Clicked="LeftArrowClicked" />
                    <ArrowRightComponent BackgroundColor="aqua"
                                         StrokeColor="black"
                                         TargetHeight="8vh"
                                         Clicked="RightArrowClicked" />

                    <ArrowUpComponent BackgroundColor="aqua"
                                      StrokeColor="black"
                                      TargetHeight="8vh"
                                      Clicked="UpArrowClicked" />

                    <ArrowDownComponent BackgroundColor="aqua"
                                        StrokeColor="black"
                                        TargetHeight="8vh"
                                        Clicked="DownArrowClicked" />
                </StackItem>
            }
        </StackLayout>

    </BottomContent>
</LeftOverLayout>